body {
    background-color: white;
    text-align: center;
}

h2 {
    font-size: 75px;
    color: black;
    margin: 5px;
}

button {
    color: black;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

